/* 
  Cody Stebbins, Jonathan Wai, David Ruiz
  INFO 343 B, Autumn 2012
  December 8th, 2012
  Final Project - Tune Guessr
*/

html { 
  height: 100%; 
}

body { 
  min-height: 100%; 
  background-color: #104E8B;
}

#main div { 
  min-height:100%;
  position: relative;
}

#search h1:first-child {
  position: absolute; 
  top: 5%; 
  left: 2.5%; 
}

#search h1:last-child {
  position: absolute; 
  bottom: 5%; 
  right: 2.5%; 
}

#search img {
  display: none;
  position: fixed; 
  top: 39%;
  left: 49%;
  height: 50px;
  width: 50px;
}

#search input {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 60px #383A3C;
  position: fixed;
  top:50%;
  left:40%;
  width:20%;
}

#timer {
  text-align: center;
}

#quiz {
  display: none;
}

#quiz div.span4 h2 {
  text-align: center;
}

#quiz img {
  display: none;
}

#quiz tr, #quiz td {
  cursor: pointer;
}

#quiz .loadingWrapper {
  display: table;
  margin: 0px auto;
}

#video {
  display: none;
  width: 100%;
}

#player {
  margin: 0px auto;
  display: table;
}

#next {
  width: 100%;
}